.Data{
  padding: 1rem;
  background: var(--white);
}

hr{
  margin: 1rem 0 !important;
}

.datagrids h2{
  margin-bottom: 1rem;
}

.detail,
.detail-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: .5rem 1rem;
  padding-left: 65px;
  border-bottom: 1px rgba(0, 0, 0, .1) solid;
}

.detail{
  color: var(--grey-0);
}

.datagrid form{
  display: flex;
  justify-content: space-between;
}

.toolbar{
  display: flex;
}

.toolbar :nth-child(1){
  flex-grow: 2;
}

.toolbar .icon-wrap{
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: .5rem;
}
