.App{
  display: flex;
  min-height: 100vh;

}

a{
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: JGH;
  font-weight: 100;
  src: url("./Fonts/HuaKangJinGangHei-UltraLight.ttf");
}
@font-face {
  font-family: JGH;
  font-weight: normal;
  src: url("./Fonts/HuaKangJinGangHei-Light.ttf");
}
@font-face {
  font-family: JGH;
  font-weight: 600;
  src: url("./Fonts/HuaKangJinGangHei-Semibold.ttf");
}

* {
  font-family: JGH;
  font-weight: 600;
}

.main{
  height: 100vh;
  overflow-y: scroll;
  flex-grow: 1;
}

