:root{
  --black : #222831;
  --grey: #393e46;
  
  --main: #00adb5;
  --main-light: #aeecf0;

  --white: #eeeeee;
  
  --blue-0: rgb(104, 179, 204);

  --red-0: rgb(233, 68, 39);
}

*{
  box-sizing: border-box;

}

h1,h2,h3,h4,h5,span,body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
